@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
        <div class="col-md-12">
            <h3>This Application is Deployed on --- @ViewData["Message"]</h3>
        </div>
</div>

<div class="row">
        <div class="col-md-12">
            <h3>Host Name --- @ViewData["HostName"]</h3>
        </div>
</div>
